// Variables
$blue: #1fa2ff;
$pink: #cf8bf3;
$turquoise: #12fff7;
$violet: #9733ee;
$yellow: #ffdd1b;

// Mixins
@mixin animation-property($animation-name) {
  animation: $animation-name 1.5s ease-in-out infinite alternate;
}

@mixin animation-keyframes($animation-name, $color) {
  @keyframes #{$animation-name} {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $color,
        0 0 70px $color, 0 0 80px $color, 0 0 100px $color, 0 0 150px $color;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $color,
        0 0 35px $color, 0 0 40px $color, 0 0 50px $color, 0 0 75px $color;
    }
  }
}

// Fonts
@font-face {
  font-family: "Kalinka";
  src: url(../fonts/kalinka-webfont.woff2), url(../fonts/kalinka-webfont.woff);
}

@font-face {
  font-family: "Apropal";
  src: url(../fonts/apropal-bold-webfont.woff2),
    url(../fonts/apropal-bold-webfont.woff);
}

// Basic styles
* {
  box-sizing: border-box;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

body {
  background: url(../irongrip.png);
}

// General clock styles
.clock-face {
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 8px rgba(202, 228, 225, 0.34), 0 0 10px rgba(163, 183, 204, 0.52),
    0 0 9px rgba(163, 183, 204, 0.92), 0 0 13px rgba(163, 183, 204, 0.78),
    0 0 13px rgba(163, 183, 204, 0.92), inset 0 0 6px rgba(202, 228, 225, 0.92),
    inset 0 0 8px rgba(202, 228, 225, 0.34),
    inset 0 0 10px rgba(163, 183, 204, 0.52),
    inset 0 0 9px rgba(163, 183, 204, 0.92),
    inset 0 0 13px rgba(163, 183, 204, 0.78),
    inset 0 0 13px rgba(163, 183, 204, 0.92);
}

.hand {
  position: absolute;
  top: 50%;
  right: 50%;
  height: 2px;
  margin-left: 10px;
  border-radius: 20px;
  transform-origin: right;
  transform: rotate(90deg);
  transition: all 0.05s cubic-bezier(0.42, 0, 0, 2.83);
  background-color: #5083a5;
  box-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 8px rgba(202, 228, 225, 0.34), 0 0 10px rgba(163, 183, 204, 0.52),
    0 0 9px rgba(163, 183, 204, 0.92), 0 0 13px rgba(163, 183, 204, 0.78),
    0 0 13px rgba(163, 183, 204, 0.92);
}

.clock-caption {
  width: 150px;
  text-align: center;
  margin: 15px auto;

  > * {
    border-radius: 5px/20px;
  }

  p {
    margin-bottom: 5px;
    padding: 5px 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
}

.digital-time {
  width: 120px;
  margin: auto;
  padding: 2px 0;
  border: 1px solid rgb(113, 136, 179);
  font: 1.2rem "Sarpanch", sans-serif;
  color: #fff;
}

// Local clock
.local-clock {
  width: 250px;
  margin: auto;
  margin-top: 5vh;

  .clock-face {
    height: 250px;
    border: 3px solid #fff;
  }

  .hours {
    width: 75px;
  }

  .minutes {
    width: 95px;
  }

  .seconds {
    width: 110px;
  }

  .clock-caption {
    p {
      font-family: "Apropal", sans-serif;
      color: $yellow;

      &:hover {
        color: #fff;
        @include animation-property(neon-yellow);
      }
    }
  }
}

// Cities' clocks
.cities-clocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.city-clock {
  width: 150px;
  margin: 20px 40px;

  .clock-face {
    height: 150px;
    border: 2px solid #fff;
  }

  .hours {
    width: 40px;
  }

  .minutes {
    width: 55px;
    transform: rotate(15deg);
  }

  .seconds {
    width: 63px;
    transform: rotate(0deg);
  }

  .clock-caption {
    div:first-child {
      display: flex;
      height: 53px;
      align-items: center;
      justify-content: center;
    }

    p:hover {
      color: #fff;
    }
  }
}

// New York
.city-clock:nth-child(1) p {
  font-family: "Pacifico", cursive;
  color: $turquoise;
  &:hover {
    @include animation-property(neon-turquoise);
  }
}

// London
.city-clock:nth-child(2) p {
  font-family: "Plaster", cursive;
  color: $pink;
  &:hover {
    @include animation-property(neon-pink);
  }
}

// Moscow
.city-clock:nth-child(3) p {
  font-family: "Kalinka", sans-serif;
  color: $blue;
  &:hover {
    @include animation-property(neon-blue);
  }
}

// Tokyo
.city-clock:nth-child(4) p {
  font-family: "Audiowide", cursive;
  color: $violet;
  &:hover {
    @include animation-property(neon-violet);
  }
}

// Text effects
@include animation-keyframes(neon-blue, #{$blue});
@include animation-keyframes(neon-pink, #{$pink});
@include animation-keyframes(neon-turquoise, #{$turquoise});
@include animation-keyframes(neon-violet, #{$violet});
@include animation-keyframes(neon-yellow, #{$yellow});
